﻿@model IEnumerable<CXRefCards.Web.Models.Card>

@{
    ViewBag.Title = "CX RefCardz";
}

<div class="jumbotron">
    <h1>CX RefCardz</h1>
</div>

<md-content class="md-padding" layout-xs="column" layout="row" layout-wrap>
    @foreach (var item in Model)
            {
        <div flex-xs="25" flex-gt-xs="25" layout="column row">
            <md-card md-theme-watch>
                <img ng-src="@Html.DisplayFor(modelItem => item.Image)" class="md-card-image md-media-md">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">@Html.DisplayFor(modelItem => item.Title)</span>
                        <span class="md-subhead">@Html.DisplayFor(modelItem => item.Authors)</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                </md-card-actions>
            </md-card>
        </div>
    }
</md-content>

